.imgdiv{
    /* border: 2px solid; */
    height: 200px;
    margin-top: 10%;
    /* padding: 15%; */
    display: flex;
    justify-content: space-around;
}

.img{
    height: 80px;
    width: 80px;
}
.img:hover{
    border: 2px solid burlywood;
    border-radius: 50%;
    background-color: burlywood;
}